/* ==UserStyle==
@name Yoshi's focus mode for Nebula
@namespace https://yoshirulz.dev
@version 0.1.3
@description Removes distractions and expands main content into margins.
@author YoshiRulz <OSSYoshiRulz@gmail.com> (https://yoshirulz.dev)
@homepageURL https://gitlab.com/YoshiRulz/usercss-collection
@supportURL https://gitlab.com/YoshiRulz/usercss-collection/-/issues
@license GPL-3.0-or-later
==/UserStyle== */

@-moz-document domain("nebula.tv") {
	/* make the header NOT sticky */
	.css-1phm8ki {
		position: absolute;
	}
}
