/* ==UserStyle==
@name Yoshi's focus mode for StackExchange/StackOverflow
@namespace https://yoshirulz.dev
@version 0.1.2
@description Removes distractions and expands main content into margins.
@author YoshiRulz <OSSYoshiRulz@gmail.com> (https://yoshirulz.dev)
@homepageURL https://gitlab.com/YoshiRulz/usercss-collection
@supportURL https://gitlab.com/YoshiRulz/usercss-collection/-/issues
@license GPL-3.0-or-later
==/UserStyle== */

@-moz-document domain("askubuntu.com"), domain("mathoverflow.net"), domain("serverfault.com"), domain("stackexchange.com"), domain("stackoverflow.com"), domain("superuser.com") {
	/* remove welcome header and cookie consent pop-up */
	.js-consent-banner, .js-dismissable-hero {
		display: none;
	}



	/* remove left sidebar */
	#left-sidebar {
		display: none;
	}



	/* remove most of right sidebar */
	#sidebar > .s-sidebarwidget {
		display: none;
	}
	#hot-network-questions {
		display: none;
	}
	#feed-link {
		display: none;
	}



	/* move right sidebar to top and make its contents flow nicely */
	.inner-content {
		display: flex;
		flex-flow: column nowrap;
	}
	#sidebar {
		margin: 0;
		order: -1;
		width: unset;
	}
	.module {
		margin-bottom: 0;
	}
	.linked, .related {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.related > * {
		margin-right: 3em;
	}



	/* and now the magic: expand content into margins */
	.container {
		max-width: unset !important;
	}
	#content {
		max-width: unset;
		width: 70%;
	}
	#mainbar {
		width: unset;
	}
}
