/* ==UserStyle==
@name Yoshi's focus mode for XDA Forums
@namespace https://yoshirulz.dev
@version 0.1.0
@description Removes distractions and expands main content into margins.
@author YoshiRulz <OSSYoshiRulz@gmail.com> (https://yoshirulz.dev)
@homepageURL https://gitlab.com/YoshiRulz/usercss-collection
@supportURL https://gitlab.com/YoshiRulz/usercss-collection/-/issues
@license GPL-3.0-or-later
==/UserStyle== */

@-moz-document domain("forum.xda-developers.com") {
	/* hide mostly-useless left sidebar */
	.uix_sidebarNav {
		display: none;
	}

	/* expand into margins */
	.p-body-inner {
		left: 0 !important;
		max-width: unset;
	}
}
