/* ==UserStyle==
@name Yoshi's YouTube tweaks
@namespace https://yoshirulz.dev
@version 0.1.2
@description Cleans up the left pane, and other minor tweaks.
@author YoshiRulz <OSSYoshiRulz@gmail.com> (https://yoshirulz.dev)
@homepageURL https://gitlab.com/YoshiRulz/usercss-collection
@supportURL https://gitlab.com/YoshiRulz/usercss-collection/-/issues
@license GPL-3.0-or-later
==/UserStyle== */

@-moz-document domain("youtube.com") {
	/* hide "Explore" and "More from YouTube" from the left pane */
	#sections > ytd-guide-section-renderer:nth-child(3), #sections > ytd-guide-section-renderer:nth-child(4) {
		display: none;
	}



	/* hide distracting logo replacements */
	ytd-yoodle-renderer {
		display: none !important;
	}
	div.ytd-topbar-logo-renderer[hidden] {
		display: initial !important;
	}
}

/* Home feed */
@-moz-document url("https://www.youtube.com/") {
	/* hide "Shorts" (there's a separate page for those already), and "YouTube Featured", which isn't personalised */
	#contents > ytd-rich-section-renderer {
		display: none;
	}
}

/* search results */
@-moz-document url-prefix("https://www.youtube.com/results") {
	/* hide unsolicited "People also watched" and "Latest from <channel>" breaks */
	#contents > ytd-shelf-renderer {
		display: none;
	}
}
